<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="info">
	<Appenders>
		<Console name="STDOUT" target="SYSTEM_OUT">
			<PatternLayout pattern="%-5p %m%n" />
		</Console>
	</Appenders>
	<Loggers>
		<Root level="info">
			<AppenderRef ref="STDOUT" />
		</Root>
        <!-- Log exception to workaround bug https://github.com/springfox/springfox/issues/1120 or similar-->
        <!-- TODO: re-check this in newer versions of swagger library -->
		<Logger name="io.swagger.models.parameters.AbstractSerializableParameter" level="ERROR"
				additivity="false">
			<Appender-ref ref="STDOUT" level="ERROR" />
		</Logger>
	</Loggers>
</Configuration>
